<%= htmlWebpackPlugin.options.jspHeader %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }

    html, body {
      background: #eee;
    }

    ul, li {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    img {
      vertical-align: middle;
    }
  </style>
</head>
<body>
<script type="text/javascript" src="http://res.saofu.cn/user-register/yunnexDialog.min.js"></script>
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement('script')
    hm.src = 'https://hm.baidu.com/hm.js?59a9c7217b303fca5aaa1f363c4831ef'
    var s = document.getElementsByTagName('script')[0]
    s.parentNode.insertBefore(hm, s)
  })()
</script>

<script>
  function getParameter (val) {
    let re = new RegExp(val + '=([^&#]*)', 'i')
    let a = re.exec(window.location.href)
    return decodeURI(a[1]) || ''
  }
</script>
<%= htmlWebpackPlugin.options.jspBody %>
<div id="app">
  <keep-alive>
    <router-view></router-view>
  </keep-alive>
</div>

</body>
</html>
