@function p2r($px, $base-font-size: 75.0px) {
  @return ($px / $base-font-size) * 1rem;
}

@function pr($px, $base-font-size: 75.0) {
  @return ($px / $base-font-size) * 1rem;
}

@mixin font-dpr($font-size) {
  font-size: ceil($font-size);
  [data-dpr="2"] & {
    font-size: ceil($font-size * 2);
  }
  [data-dpr="3"] & {
    font-size: ceil($font-size * 3);
  }
}

@mixin Newellipsis($width,$isMaxWidth:false) {
  @if unit($width) == "px" {
    @if ($isMaxWidth) {
      max-width: p2r($width)
    } @else {
      width: p2r($width);
    }
  } @else {
    @if ($isMaxWidth) {
      max-width: $width;
    } @else {
      width: $width;
    }
  }
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

@mixin ellipsis($width,$isMaxWidth:false) {
  @if unit($width) == "px" {
    @if ($isMaxWidth) {
      max-width: p2r($width)
    } @else {
      width: p2r($width);
    }
  } @else {
    @if ($isMaxWidth) {
      max-width: $width;
    } @else {
      width: $width;
    }
  }
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

@mixin linesEllipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin bg-image($url) {
  background-size: 100% 100%;
  [data-dpr="1"] & {
    background-image: url($url + "@2x.png");
  }
  [data-dpr="2"] & {
    background-image: url($url + "@2x.png");
  }
  [data-dpr="3"] & {
    background-image: url($url + "@3x.png");
  }
}

@mixin item_center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
